.showAnotherGrade button {
  background-color: #00c3ff;
  color: white;
  text-shadow: -1px 0 #00c3ff, 0 1px #00c3ff, 1px 0 #00c3ff, 0 -1px #00c3ff;
  -webkit-box-shadow: inset 0px 0px 20px 12px black, 0px 0px 20px 3px black;
  -moz-box-shadow: inset 0px 0px 20px 12px black, 0px 0px 20px 3px black;
  box-shadow: inset 0px 0px 20px 12px black, 0px 0px 20px 3px black;
  border: 1px solid #00c3ff !important;
  border-radius: 50%;
  margin-top: 20px;
  padding: 0 12px;
  font-size: 29px;
	position: absolute;
  top: 10px;
  right: 15px;

  &:hover {
    background-color: black;
    -webkit-box-shadow: inset 0px 0px 15px 2px #00c3ff, 0px 0px 15px 3px #00c3ff;
    -moz-box-shadow: inset 0px 0px 15px 2px #00c3ff, 0px 0px 15px 3px #00c3ff;
    box-shadow: inset 0px 0px 15px 2px #00c3ff, 0px 0px 15px 3px #00c3ff;
    color: black;
    border: 1px solid white !important;
  }
}


span.remove {
  font-size: 10px;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }
}

span.descriptionCount {
  font-size: 9px;
}

@media (max-width: 768px) {
  .showAnotherGrade button {
    font-size: 19px;
    padding: 1px 9px;
    font-weight: 300;
  }

  label {
    font-size: 11px;
  }

  span.descriptionCount {
    font-size: 9.5px;
  }

  span.remove {
    font-size: 9px;
  }

}
